@font-face {
  font-family: OpenSans-regular;
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-bold;
  src: url("../fonts/OpenSans-Bold.woff");
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-image: url("football_767.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  align-items: center;
  position: relative;
}

header::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.header-logo {
  font-family: Arial, sans-serif;
  color: #039be5;
  margin-left: auto;
  margin-right: auto;
  width: 133px;
  padding-top: 33px;
  position: relative;
  z-index: 1;
}

.header__body {
  width: 100%;
}

.header__title {
  font-family: OpenSans-bold, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 31px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-top: 135px;
  margin-bottom: 88px;
}

.header__name1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
}

.header__name2 {
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 65px;
}


.header__contacts {
  margin-bottom: 70px;
}

.button-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e42b0;
  border-radius: 35px;
  text-decoration: none;
  border-width: 0;
  width: 280px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 14px;
  position: relative;
  z-index: 1;
}

.follow__social {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
}
  
.follow_icon {
  width: 21px;
  /* align-self: center; */
  display: inline-block;
  margin: 5px 7px 5px 0; 
}

.follow__social-label1 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: OpenSans-regular, Arial, sans-serif;
  font-size: 8px;
  font-weight: 600;
  color: #ffffff;
}

.follow__social-label2 {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: OpenSans-bold, Arial, sans-serif;
  font-size: 8px;
  font-weight: 600;
  color: #ffffff;
}

.athlets-header-title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: OpenSans-bold, Arial, sans-serif;
  font-size: 50px;
  font-weight: 600;
  color: #e7e7e7;
  margin-left: 20px;
  margin-right: 87px;
  /* margin-top: 20px; */
}

.athlets {
  display: flex;
  flex-direction: column;
}

.athlets-header {
  margin-left: auto;
  margin-right: auto;
}

.info-list {
  margin-left: 20px;
  margin-right: 35px;
  height: 160px;
}

.info-list-grey {
  background-color: #f5f4f9;
  height: 263px;
}

.info-list-violet {
  background-color: #5e42b0;
  height: 228px;
}

.info-list-dark {
  background-color: #090c35;
  height: 228px;
}

.info-number {
   text-transform: uppercase;
  font-family: OpenSans-bold, Arial, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: #000000;
  display: inline-block;
  padding-right: 10px;
}

.info-number-dark {
  text-transform: uppercase;
  font-family: OpenSans-bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #7055be;
  display: inline-block;
  padding-right: 10px;
}

.info-number-dark::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  height: 4px;
  width: 15px;
}

.info-number::after {
  content: "";
  display: block;
  background-color: #5e42b0;
  position: absolute;
  height: 4px;
  width: 15px;
}

.info-list-header {
  text-transform: uppercase;
  font-family: OpenSans-bold, Arial, sans-serif;
  font-size: 23px;
  font-weight: 600;
  color: #c1c1c1;
}

.info-text {
  font-family: OpenSans-regular, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

.info-text-different {
  font-family: OpenSans-regular, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #d7d0eb;
}

.info-number-different {
  text-transform: uppercase;
  font-family: OpenSans-bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #000000;
  display: inline-block;
  padding-right: 10px;
}

.info-number-different::after {
  content: "";
  display: block;
  background-color: #ffffff;
  position: absolute;
  height: 4px;
  width: 15px;
}
