@font-face {
  font-family: OpenSans-regular;
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.ttf");
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans-bold;
  src: url("../fonts/OpenSans-Bold.woff");
  src: url("../fonts/OpenSans-Bold.ttf");
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0px;
  padding: 0px;
}

header {
  display: block;
  color: #ffffff;
  background-image: url("football_767.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  max-width: 100%;
  height: 100vh;
}

header::before {
  content: "";
  background-color: #0a0e34;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.logo {
  font-family: Arial, sans-serif;
  color: #039be5;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
  margin-top: 5.5vh;
  margin-bottom: 23.8px;
  position: relative;
  z-index: 1;
  }
  
  .header__body {
    font-family: OpenSans-bold, sans-serif;
    font-weight: 700;
    font-size: 8.7vw;
    line-height: 10vw;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  .header__name1 {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 6vw;
  }

  .header__name2 {
    display: block;
    margin-top: 3.5vh;
    margin-bottom: 5.5vh;
    margin-left: 6vw;
  }

  .button-social {
    display: flex;
    width: 87.5vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 2.5vh;
    position: relative;
    z-index: 1;
  }
  
  .follow_icon {
    width: 5.6vw;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh; 
  }

  .follow__social-label1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }

  .follow__social-label2 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
  }
